.container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: red;
  text-align: justify;
  border: 1px solid black
}

h1 + p {
  color: blue
}

img ~ p {
  background-color: lightgray;
}

a {
  border: 1px solid red;
}

p {
  border: 5px solid green;
}

a::before {
  content:'\1F604'
}

a::after {
  content: '\1F605'
}

a[href='#']:hover {
  background-color: pink;
}

/* Select all that class start with info */
*[class^="info"] {
  font-style: oblique;
}

/* Select elements that class contains the word text*/
*[class*="text"] {
  font-size: large; 
}

/* Select elements that class ends with title */
*[class$='title'] {
  text-decoration: double;
}